.navbar {
  background-color: #fff;
}

.navbar-collapse {
  flex-grow: unset;
}

.nav-link {
  color: #1c5fa8;

  &:hover {
    color: #ffd700
  }
}

.banner {
  background-color: #1c5fa8;
  padding: 40px 0;
  color: #fff;
}

.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.banner-container p,
.banner-container h2 {
  margin: 0;
}

.banner-container-content {
  display: flex;
  flex-direction: column;

  .supertitle {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.2px;
  }

  .title {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 16px;
  }
}

.banner-container-contact-anchor {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .contact-phone {
    font-size: 16px;
    line-height: 18px;

    .phone {
      font-weight: 700;
    }
  }

  .contact-anchor {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 14px 24px;
    text-decoration: none;
    color: #fff;
  }
}

.section {
  padding: 48px 0;

  .section-title {
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    margin-bottom: 8px;

    &.underline-start::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 60px;
      height: 3px;
      background-color: #1c5fa8;
      border-radius: 2px;
    }

    &.underline-center::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -5px;
      left: calc(50% - 30px);
      width: 60px;
      height: 3px;
      background-color: #1c5fa8;
      border-radius: 2px;
    }
  }
}

.about-section {
  background-color: #f4f4f4;

  .about-section-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  
    .about-section-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      .about-text {
        max-width: 680px;
        font-size: 18px;
        line-height: 24px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @media (max-width: 992px) {
          max-width: 100%;
        }
      }

      .about-text p {
        margin: 0;
      }

      .about-image {
        max-width: 35%;
        
        @media (max-width: 992px) {
          min-width: 300px;
          align-self: flex-end;
        }
      }

      @media (max-width: 992px) {
        flex-direction: column;
      }
    }
  }
}

.services-section {
  .services-section-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    .services-title {
      text-align: center;
    }

    .services-section-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .services-text {
        max-width: 700px;
        font-size: 18px;
        line-height: 24px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @media (max-width: 992px) {
          max-width: 100%;
        }
      }

      .services-text p {
        margin: 0;
        text-align: center;
      }

      .services-list {
        width: 100%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 40px;

        .services-item {
          display: flex;
          flex-direction: column;
          row-gap: 16px;

          .service-img {
            box-sizing: border-box;
            border-radius: 8px;
            object-fit: cover;
            object-position: center;

            &:hover {
              border: 5px solid #1c5fa8;
              transform: scale(1.1);
              transition: 0.3s ease;
            }
          }

          .service-description {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.contact-section {
  background-color: #1c5fa8;

  .contact-section-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    .contact-title {
      text-align: center;
      color: #fff;

      &::before {
        background-color: #ffd700;
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      row-gap: 20px;
    }

    .contact-form label {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: #ffd700;
      font-size: 18px;
    }

    .contact-form label > input {
      width: 100%;
      border: none;
      border-radius: 8px;
      background-color: #fff;
      padding: 8px 12px;
      font-size: 18px;
    }

    .contact-form label > textarea {
      width: 100%;
      min-height: 140px;
      resize: vertical;
      border: none;
      border-radius: 8px;
      background-color: #fff;
      padding: 8px 12px;
      font-size: 18px;
    }

    .contact-form-submit {
      background-color: #ffd700;
      border: none;
      border-radius: 8px;
      padding: 12px 24px;
      font-size: 18px;
      align-self: flex-start;

      @media (max-width: 992px) {
        align-self: stretch;
      }
    }
  }
}
